{% from "components/projectcard.html" import projectCard %}
{% from "components/titlething.html" import titleThing %} 
{% extends "base.html" %} {% block content %}
<main id="gallery-scroll-container" class="relative -ml-2 h-screen w-full flex-1 overflow-y-scroll px-6 py-10">
  {{ titleThing("Gallery", "Take a look at all of the cool projects submitted to Hack Club: The Game!")}}
  
  <div class="mt-8 pl-8">
    <div
      class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3"
      id="gallery-projects-container">
      <div class="fake_page contents">
        {% for project in projects %} {{ projectCard(project) }} {% endfor %}
      </div>
    </div>
    {% if not is_last_page %}
    <a class="pagination__next" href="/api/projects/html/{{ next_page }}" hidden>next</a>
    {% endif %}
  </div>


  <script src="https://unpkg.com/infinite-scroll@5/dist/infinite-scroll.pkgd.min.js"></script>
  <script>
    let infScroll = new InfiniteScroll('#gallery-projects-container', {
      "path": ".pagination__next",
      "append": ".fake_page",
      "history": false,
      "elementScroll": "#gallery-scroll-container"
    });
    
  </script>
</main>
{% endblock %}
